.menu-container {
  width: 181px;
  padding: 4px !important; 
  box-sizing: border-box;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu button {
  width: 100%;
  justify-content: flex-start !important;
}

.divider {
  margin: 4px 0 !important;
}
